<li lang="objectivec-swift">
    <a href="{{ site.ios }}" class="otherLinkColour">iOS Edition Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-ios.html" -%}
<li lang="android">
    <a href="{{ site.android }}" class="otherLinkColour">Android Edition Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-android.html" -%}
<li lang="xamarin">
    <a href="{{ site.xamarin }}" class="otherLinkColour">Xamarin.Forms Edtion Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-xamarin.html" -%}