<li lang="objectivec-swift" class="category">DEVELOPMENT</li>


<li lang="objectivec-swift"><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="ios">
        <li lang="objectivec-swift"><a href="{{ site.ios }}user-guide.html" style="cursor:pointer;color:#3c3c3c">Get Started</a></li>
    </ul>
</li>
<li lang="objectivec-swift"><a href="{{ site.ios }}samples/index.html" class="otherLinkColour">Samples</a>
    <ul>
        <li><a href="{{ site.ios }}samples/helloworld.html" class="otherLinkColour">HelloWorld</a></li>
    </ul>
</li>
<li lang="objectivec-swift"><a href="{{ site.ios_api }}" class="otherLinkColour">API Reference</a>
    <ul lang="ios">
        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">DSCaptureVisionRouter</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}capture-vision-router/constructors.html"  class="otherLinkColour">Constructor and Destructor</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}capture-vision-router/single-file-processing.html"  class="otherLinkColour">Single-File Processing</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}capture-vision-router/multiple-file-processing.html"  class="otherLinkColour">Multiple-File Processing</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}capture-vision-router/settings.html"  class="otherLinkColour">Settings</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}capture-vision-router/intermediate-result.html"  class="otherLinkColour">Intermediate Result</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a>Input</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dce_ios }}primary-api/camera-enhancer.html" class="otherLinkColour" target="_blank">DSCameraEnhancer</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">DSImageSourceAdapter</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}utility/directory-fetcher.html" class="otherLinkColour">DSDirectoryFetcher</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}utility/file-fetcher.html" class="otherLinkColour">DSFileFetcher</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a>Final Results</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/captured-result-receiver.html" class="otherLinkColour">DSCapturedResultReceiver</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">DSCapturedResultItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/captured-result.html" class="otherLinkColour">DSCapturedResult</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/original-image-result-item.html"  class="otherLinkColour">DSOriginalImageResultItem</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}barcode-result-item.html" class="otherLinkColour">DSBarcodeResultItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}decoded-barcodes-result.html" class="otherLinkColour">DSDecodedBarcodesResult</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dlr_ios_api }}text-line-result-item.html" class="otherLinkColour">DSTextLineResultItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dlr_ios_api }}character-result.html" class="otherLinkColour">DSCharacterResult</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dlr_ios_api }}recognized-text-lines-result.html" class="otherLinkColour">DSRecognizedTextLinesResult</a></li> -->
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}detected-quad-result-item.html" class="otherLinkColour">DSDetectedQuadResultItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}detected-quads-result.html" class="otherLinkColour">DSDetectedQuadsResult</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}normalized-image-result-item.html" class="otherLinkColour">DSNormalizedImageResultItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}normalized-images-result.html" class="otherLinkColour">DSNormalizedImagesResult</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dcp_ios_api }}parsed-result-item.html" class="otherLinkColour">DSParsedResultItem</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcp_ios_api }}parsed-result.html" class="otherLinkColour">DSParsedResult</a></li> -->
            </ul>
        </li>
        <li lang="objectivec-swift"><a>Final Results Filters</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/captured-result-filter.html" class="otherLinkColour">DSCapturedResultFilter</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">DSMultiFrameResultCrossFilter</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a>Intermediate Results</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/intermediate-result-manager.html" class="otherLinkColour">DSIntermediateResultManager</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/intermediate-result-receiver.html" class="otherLinkColour">DSIntermediateResultReceiver</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/intermediate-result-extra-info.html" class="otherLinkColour">DSIntermediateResultExtraInfo</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/observation-parameters.html" class="otherLinkColour">DSObservationParameters</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/intermediate-result.html" class="otherLinkColour">DSIntermediateResult</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">DSIntermediateResultUnit</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">DSPredetectedRegionsUnit</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}localized-barcodes-unit.html" class="otherLinkColour">DSLocalizedBarcodesUnit</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}decoded-barcodes-unit.html" class="otherLinkColour">DSDecodedBarcodesUnit</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dlr_ios_api }}localized-text-lines-unit.html" class="otherLinkColour">DSLocalizedTextLinesUnit</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dlr_ios_api }}recognized-text-lines-unit.html" class="otherLinkColour">DSRecognizedTextLinesUnit</a></li> -->
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}detected-quads-unit.html" class="otherLinkColour">DSDetectedQuadsUnit</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}normalized-image-unit.html" class="otherLinkColour">DSNormalizedImageUnit</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">DSRegionObjectElement</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">DSPredetectedRegionElement</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}localized-barcode-element.html" class="otherLinkColour">DSLocalizedBarcodesElement</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}decoded-barcode-element.html" class="otherLinkColour">DSDecodedBarcodeElement</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dlr_ios_api }}localized-text-line-element.html" class="otherLinkColour">DSLocalizedTextLineElement</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dlr_ios_api }}recognized-text-line-element.html" class="otherLinkColour">DSRecognizedTextLineElement</a></li> -->
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}detected-quad-element.html" class="otherLinkColour">DSDetectedQuadElement</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}normalized-image-element.html" class="otherLinkColour">DSNormalizedImageElement</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}extended-barcode-result.html" class="otherLinkColour">DSExtendedBarcodeResult</a></li> -->
                <li><a>Others</a>
                    <ul>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">DSBinaryImageUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">DSColourImageUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">DSContoursUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">DSEnhancedGrayscaleImageUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">DSGrayscaleImageUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">DSLineSegmentsUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/scaled-down-colour-image-unit.html" class="otherLinkColour">DSScaledDownColourImageUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">DSTextRemovedBinaryImageUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">DSTextZonesUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">DSTextureDetectionResultUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">DSTextureRemovedBinaryImageUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">DSTextureRemovedGrayscaleImageUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">DSTransformedGrayscaleImageUnit</a></li>
                        <!-- <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}candidate-barcode-zones-unit.html" class="otherLinkColour">DSCandidateBarcodeZonesUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}complemented-barcode-image-unit.html" class="otherLinkColour">DSComplementedBarcodeImageUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}deformation-resisted-barcode-image-unit.html" class="otherLinkColour">DSDeformationResistedBarcodeImageUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}scaled-up-barcode-image-unit.html" class="otherLinkColour">DSScaledUpBarcodeImageUnit</a></li> -->
                        <li lang="objectivec-swift"><a href="{{ site.ios_api }}candidate-quad-edges-unit.html" class="otherLinkColour">DSCandidateQuadEdgesUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.ios_api }}corners-unit.html" class="otherLinkColour">DSCornersUnit</a></li>
                        <li lang="objectivec-swift"><a href="{{ site.ios_api }}long-lines-unit.html" class="otherLinkColour">DSLongLinesUnit</a></li>

                    </ul>
                </li>
            </ul>
        </li>
        <!-- <li lang="objectivec-swift"><a>Detailed Barcode Results</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}aztec-details.html" class="otherLinkColour">DSAztecDetails</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}barcode-details.html" class="otherLinkColour">DSBarcodeDetails</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}datamatrix-details.html" class="otherLinkColour">DSDataMatrixDetails</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}oned-code-details.html" class="otherLinkColour">DSOneDCodeDetails</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}pdf417-details.html" class="otherLinkColour">DSPDF417Details</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}qr-code-details.html" class="otherLinkColour">DSQRCodeDetails</a></li>
            </ul>
        </li> -->
        <li lang="objectivec-swift"><a>Settings</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}capture-vision-router/auxiliary-classes/simplified-capture-vision-settings.html"  class="otherLinkColour">DSSimplifiedCaptureVisionSettings</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}capture-vision-router/preset-template.html?lang=objc&swift"  class="otherLinkColour">DSPresetTemplate</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}simplified-barcode-reader-settings.html"  class="otherLinkColour">DSSimplifiedBarcodeReaderSettings</a></li> -->
                <!-- <li lang="objectivec-swift"><a href="{{ site.dlr_ios_api }}simplified-label-recognizer-settings.html"  class="otherLinkColour">DSSimplifiedLabelRecognizerSettings</a></li> -->
            </ul>
        </li>
        <li lang="objectivec-swift"><a>Interfaces</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">DSCaptureStateListener</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">DSImageSourceStateListener</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a>License</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}license/license-manager.html" class="otherLinkColour">DSLicenseManger</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}license/license-verification-listener.html" class="otherLinkColour">DSLicenseVerificationListener</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a>Basic Structures</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/contour.html" class="otherLinkColour">DSContour</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/corner.html" class="otherLinkColour">DSCorner</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/edge.html" class="otherLinkColour">DSEdge</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">DSFileImageTag</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/image-data.html" class="otherLinkColour">DSImageData</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/image-tag.html" class="otherLinkColour">DSImageTag</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/line-segment.html" class="otherLinkColour">DSLineSegment</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">DSPDFReadingParameter</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">DSQuadrilateral</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/rect.html" class="otherLinkColour">DSDSRect</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/video-frame-tag.html" class="otherLinkColour">DSVideoFrameTag</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a>Modules</a>
            <ul lang="ios">
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">DSCaptureVisionRouterModule</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dbr_ios_api }}barcode-reader-module.html" class="otherLinkColour">DSBarcodeReaderModule</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dlr_ios_api }}label-recognizer-module.html" class="otherLinkColour">DSLabelRecognizerModule</a></li> -->
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}document-normalizer-module.html" class="otherLinkColour">DSDocumentNormalizerModule</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}core/basic-structures/core-module.html" class="otherLinkColour">DSCoreModule</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}license/license-module.html" class="otherLinkColour">DSLicenseModule</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}utility/utility-module.html" class="otherLinkColour">DSUtilityModule</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_ios_api }}image-processing/image-processing-module.html" class="otherLinkColour">DSImageProcessingModule</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a>Enumerations</a>
            <ul lang="ios">
                <!-- <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}barcode-reader/barcode-format.html?lang=objc&swift"  class="otherLinkColour">DSBarcodeFormat</a></li> -->
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/buffer-overflow-protection-mode.html?lang=objc&swift"  class="otherLinkColour">DSBufferOverflowProtectionMode</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/captured-result-item-type.html?lang=objc&swift"  class="otherLinkColour">DSCapturedResultItemType</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}capture-vision-router/capture-state.html?lang=objc&swift"  class="otherLinkColour">DSCaptureState</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/corner-type.html?lang=objc&swift"  class="otherLinkColour">DSCornerType</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}barcode-reader/deblur-mode.html?lang=objc&swift"  class="otherLinkColour">DSDeblurMode</a></li> -->
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/error-code.html?lang=objc&swift"  class="otherLinkColour">DSErrorCode</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}barcode-reader/extended-barcode-result-type.html?lang=objc&swift"  class="otherLinkColour">DSExtendedBarcodeResultType</a></li> -->
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/grayscale-transformation-mode.html?lang=objc&swift"  class="otherLinkColour">DSGrayscaleTransformationMode</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/image-capture-distance-mode.html?lang=objc&swift"  class="otherLinkColour">DSImageCaptureDistanceMode</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/image-pixel-format.html?lang=objc&swift"  class="otherLinkColour">DSImagePixelFormat</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/image-source-state.html?lang=objc&swift"  class="otherLinkColour">DSImageSourceState</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/image-tag-type.html?lang=objc&swift"  class="otherLinkColour">DSImageTagType</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/intermediate-result-unit-type.html?lang=objc&swift"  class="otherLinkColour">DSIntermediateResultUnitType</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}barcode-reader/localization-mode.html?lang=objc&swift"  class="otherLinkColour">DSLocalizationMode</a></li> -->
                <!-- <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}code-parser/mapping-status.html?lang=objc&swift"  class="otherLinkColour">DSMappingStatus</a></li> -->
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/pdf-reading-mode.html?lang=objc&swift"  class="otherLinkColour">DSPDFReadingMode</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}capture-vision-router/preset-template.html?lang=objc&swift"  class="otherLinkColour">DSPresetTemplate</a></li>
                <!-- <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}barcode-reader/qr-code-error-correction-level.html?lang=objc&swift"  class="otherLinkColour">DSQRCodeErrorCorrectionLevel</a></li> -->
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/region-object-element-type.html?lang=objc&swift"  class="otherLinkColour">DSRegionObjectElementType</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/section-type.html?lang=objc&swift"  class="otherLinkColour">DSSectionType</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/raster-data-source.html?lang=objc&swift"  class="otherLinkColour">DSRasterDataSource</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}code-parser/validation-status.html?lang=objc&swift"  class="otherLinkColour">DSValiadtionStatus</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/video-frame-quality.html?lang=objc&swift"  class="otherLinkColour">DSVideoFrameQuality</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/colour-channel-usage-type.html?lang=objc&swift"  class="otherLinkColour">DSColourChannelUsageType</a></li>
                <li lang="objectivec-swift"><a href="{{ site.dcv_enums }}core/transform-matrix-type.html?lang=objc&swift"  class="otherLinkColour">DSTransformMatrixType</a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="objectivec-swift" class="category">USEFUL RESOURCES</li>

<li lang="objectivec-swift"><a href="{{ site.ios_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul>
        <li><a href="{{ site.ios_release_notes }}ios-1.html" class="otherLinkColour">Version 1.x</a></li>
        <li><a href="{{ site.ios_release_notes }}ios-2.html" class="otherLinkColour">Version 2.x</a></li>
    </ul>
</li>
