<li lang="android" class="category">DEVELOPMENT</li>
<li lang="android"><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.android }}user-guide/" style="cursor:pointer;color:#3c3c3c">Get Started</a></li>
    </ul>
</li>
<li lang="android"><a href="{{ site.dcv_android_api }}" class="otherLinkColour">API Reference</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CaptureVisionRouter</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/constructors.html"  class="otherLinkColour">Constructor and Destructor</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/single-file-processing.html"  class="otherLinkColour">Single-File Processing</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/multiple-file-processing.html"  class="otherLinkColour">Multiple-File Processing</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/settings.html"  class="otherLinkColour">Settings</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/intermediate-result.html"  class="otherLinkColour">Intermediate Result</a></li>
            </ul>
        </li>
        <li lang="android"><a>Input</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">ImageSourceAdapter</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/directory-fetcher.html" class="otherLinkColour">DirectoryFetcher</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/file-fetcher.html" class="otherLinkColour">FileFetcher</a></li>
            </ul>
        </li>
        <li lang="android"><a>Final Results</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/captured-result-receiver.html" class="otherLinkColour">CapturedResultReceiver</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">CapturedResultItem</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/captured-result.html" class="otherLinkColour">CapturedResult</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/raw-image-result-item.html"  class="otherLinkColour">RawImageResultItem</a></li>
                <!-- <li lang="android"><a href="{{ site.dbr_android_api }}barcode-result-item.html" class="otherLinkColour">BarcodeResultItem</a></li>
                <li lang="android"><a href="{{ site.dbr_android_api }}decoded-barcodes-result.html" class="otherLinkColour">DecodedBarcodesResult</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}text-line-result-item.html" class="otherLinkColour">TextLineResultItem</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}character-result.html" class="otherLinkColour">CharacterResult</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}recognized-text-lines-result.html" class="otherLinkColour">RecognizedTextLinesResult</a></li> -->
                <li lang="android"><a href="{{ site.android_api }}detected-quad-result-item.html" class="otherLinkColour">DetectedQuadResultItem</a></li>
                <li lang="android"><a href="{{ site.android_api }}detected-quads-result.html" class="otherLinkColour">DetectedQuadsResult</a></li>
                <li lang="android"><a href="{{ site.android_api }}normalized-image-result-item.html" class="otherLinkColour">NormalizedImageResultItem</a></li>
                <li lang="android"><a href="{{ site.android_api }}normalized-images-result.html" class="otherLinkColour">NormalizedImagesResult</a></li>
                <!-- <li lang="android"><a href="{{ site.dcp_android_api }}parsed-result-item.html" class="otherLinkColour">ParsedResultItem</a></li>
                <li lang="android"><a href="{{ site.dcp_android_api }}parsed-result.html" class="otherLinkColour">ParsedResult</a></li> -->
            </ul>
        </li>
        <li lang="android"><a>Final Results Filters</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/captured-result-filter.html" class="otherLinkColour">CapturedResultFilter</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">MultiFrameResultCrossFilter</a></li>
            </ul>
        </li>
        <li lang="android"><a>Intermediate Results</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result-manager.html" class="otherLinkColour">IntermediateResultManager</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result-receiver.html" class="otherLinkColour">IntermediateResultReceiver</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result-extra-info.html" class="otherLinkColour">IntermediateResultExtraInfo</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/observation-parameters.html" class="otherLinkColour">ObservationParameters</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result.html" class="otherLinkColour">IntermediateResult</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">IntermediateResultUnit</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">PredetectedRegionsUnit</a></li>
                <!-- <li lang="android"><a href="{{ site.dbr_android_api }}localized-barcodes-unit.html" class="otherLinkColour">LocalizedBarcodesUnit</a></li>
                <li lang="android"><a href="{{ site.dbr_android_api }}decoded-barcodes-unit.html" class="otherLinkColour">DecodedBarcodesUnit</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}localized-text-lines-unit.html" class="otherLinkColour">LocalizedTextLinesUnit</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}recognized-text-lines-unit.html" class="otherLinkColour">RecognizedTextLinesUnit</a></li> -->
                <li lang="android"><a href="{{ site.android_api }}detected-quads-unit.html" class="otherLinkColour">DetectedQuadsUnit</a></li>
                <li lang="android"><a href="{{ site.android_api }}normalized-image-unit.html" class="otherLinkColour">NormalizedImageUnit</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">RegionObjectElement</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">PredetectedRegionElement</a></li>
                <!-- <li lang="android"><a href="{{ site.dbr_android_api }}localized-barcode-element.html" class="otherLinkColour">LocalizedBarcodesElement</a></li>
                <li lang="android"><a href="{{ site.dbr_android_api }}decoded-barcode-element.html" class="otherLinkColour">DecodedBarcodeElement</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}localized-text-line-element.html" class="otherLinkColour">LocalizedTextLineElement</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}recognized-text-line-element.html" class="otherLinkColour">RecognizedTextLineElement</a></li> -->
                <li lang="android"><a href="{{ site.android_api }}detected-quad-element.html" class="otherLinkColour">DetectedQuadElement</a></li>
                <li lang="android"><a href="{{ site.android_api }}normalized-image-element.html" class="otherLinkColour">NormalizedImageElement</a></li>
                <!-- <li lang="android"><a href="{{ site.dbr_android_api }}extended-barcode-result.html" class="otherLinkColour">ExtendedBarcodeResult</a></li> -->
                <li><a>Others</a>
                    <ul>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">BinaryImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">ColourImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">ContoursUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">EnhancedGrayscaleImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">GrayscaleImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">LineSegmentsUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/scaled-down-colour-image-unit.html" class="otherLinkColour">ScaledDownColourImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">TextRemovedBinaryImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">TextZonesUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">TextureDetectionResultUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">TextureRemovedBinaryImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">TextureRemovedGrayscaleImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">TransformedGrayscaleImageUnit</a></li>
                        <!-- <li lang="android"><a href="{{ site.dbr_android_api }}candidate-barcode-zones-unit.html" class="otherLinkColour">CandidateBarcodeZonesUnit</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}complemented-barcode-image-unit.html" class="otherLinkColour">ComplementedBarcodeImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}deformation-resisted-barcode-image-unit.html" class="otherLinkColour">DeformationResistedBarcodeImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}scaled-up-barcode-image-unit.html" class="otherLinkColour">ScaledUpBarcodeImageUnit</a></li> -->
                        <li lang="android"><a href="{{ site.android_api }}candidate-quad-edges-unit.html" class="otherLinkColour">CandidateQuadEdgesUnit</a></li>
                        <li lang="android"><a href="{{ site.android_api }}corners-unit.html" class="otherLinkColour">CornersUnit</a></li>
                        <li lang="android"><a href="{{ site.android_api }}long-lines-unit.html" class="otherLinkColour">LongLinesUnit</a></li>

                    </ul>
                </li>
            </ul>
        </li>
        <!-- <li lang="android"><a>Detailed Barcode Results</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dbr_android_api }}aztec-details.html" class="otherLinkColour">AztecDetails</a></li>
                <li lang="android"><a href="{{ site.dbr_android_api }}barcode-details.html" class="otherLinkColour">BarcodeDetails</a></li>
                <li lang="android"><a href="{{ site.dbr_android_api }}datamatrix-details.html" class="otherLinkColour">DataMatrixDetails</a></li>
                <li lang="android"><a href="{{ site.dbr_android_api }}oned-code-details.html" class="otherLinkColour">OneDCodeDetails</a></li>
                <li lang="android"><a href="{{ site.dbr_android_api }}pdf417-details.html" class="otherLinkColour">PDF417Details</a></li>
                <li lang="android"><a href="{{ site.dbr_android_api }}qr-code-details.html" class="otherLinkColour">QRCodeDetails</a></li>
            </ul>
        </li> -->
        <li lang="android"><a>Settings</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/simplified-capture-vision-settings.html"  class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                <!-- <li lang="android"><a href="{{ site.dbr_android_api }}simplified-barcode-reader-settings.html"  class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li> -->
                <!-- <li lang="android"><a href="{{ site.dlr_android_api }}simplified-label-recognizer-settings.html"  class="otherLinkColour">SimplifiedLabelRecognizerSettings</a></li> -->
            </ul>
        </li>
        <li lang="android"><a>Interfaces</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">CaptureStateListener</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">ImageSourceStateListener</a></li>
            </ul>
        </li>
        <li lang="android"><a>License</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}license/license-manager.html" class="otherLinkColour">LicenseManger</a></li>
            </ul>
        </li>
        <li lang="android"><a>Basic Structures</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/contour.html" class="otherLinkColour">Contour</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/corner.html" class="otherLinkColour">Corner</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/edge.html" class="otherLinkColour">Edge</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">FileImageTag</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/image-data.html" class="otherLinkColour">ImageData</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/image-tag.html" class="otherLinkColour">ImageTag</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/line-segment.html" class="otherLinkColour">LineSegment</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">PDFReadingParameter</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/rect.html" class="otherLinkColour">DSRect</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/video-frame-tag.html" class="otherLinkColour">VideoFrameTag</a></li>
            </ul>
        </li>
        <li lang="android"><a>Modules</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CaptureVisionRouterModule</a></li>
                <!-- <li lang="android"><a href="{{ site.dbr_android_api }}barcode-reader-module.html" class="otherLinkColour">BarcodeReaderModule</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}label-recognizer-module.html" class="otherLinkColour">LabelRecognizerModule</a></li> -->
                <li lang="android"><a href="{{ site.android_api }}document-normalizer-module.html" class="otherLinkColour">DocumentNormalizerModule</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/core-module.html" class="otherLinkColour">CoreModule</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}license/license-module.html" class="otherLinkColour">LicenseModule</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/utility-module.html" class="otherLinkColour">UtilityModule</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}image-processing/image-processing-module.html" class="otherLinkColour">ImageProcessingModule</a></li>
            </ul>
        </li>
        <li lang="android"><a>Exceptions</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/capture-vision-router-exception.html" class="otherLinkColour">CaptureVisionRouterException</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/core-exception.html" class="otherLinkColour">CoreException</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/utility-exception.html" class="otherLinkColour">UtilityException</a></li>
            </ul>
        </li>
        <li lang="android"><a>Enumerations</a>
            <ul lang="android">
                <!-- <li lang="android"><a href="{{ site.enums }}barcode-reader/barcode-format.html?lang=android"  class="otherLinkColour">EnumBarcodeFormat</a></li> -->
                <li lang="android"><a href="{{ site.enums }}core/buffer-overflow-protection-mode.html?lang=android"  class="otherLinkColour">EnumBufferOverflowProtectionMode</a></li>
                <li lang="android"><a href="{{ site.enums }}core/captured-result-item-type.html?lang=android"  class="otherLinkColour">EnumCapturedResultItemType</a></li>
                <li lang="android"><a href="{{ site.enums }}capture-vision-router/capture-state.html?lang=android"  class="otherLinkColour">EnumCaptureState</a></li>
                <li lang="android"><a href="{{ site.enums }}core/corner-type.html?lang=android"  class="otherLinkColour">EnumCornerType</a></li>
                <!-- <li lang="android"><a href="{{ site.enums }}barcode-reader/deblur-mode.html?lang=android"  class="otherLinkColour">EnumDeblurMode</a></li> -->
                <li lang="android"><a href="{{ site.enums }}core/error-code.html?lang=android"  class="otherLinkColour">EnumErrorCode</a></li>
                <!-- <li lang="android"><a href="{{ site.enums }}barcode-reader/extended-barcode-result-type.html?lang=android"  class="otherLinkColour">EnumExtendedBarcodeResultType</a></li> -->
                <li lang="android"><a href="{{ site.enums }}core/grayscale-transformation-mode.html?lang=android"  class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                <li lang="android"><a href="{{ site.enums }}core/image-capture-distance-mode.html?lang=android"  class="otherLinkColour">EnumImageCaptureDistanceMode</a></li>
                <li lang="android"><a href="{{ site.enums }}core/image-pixel-format.html?lang=android"  class="otherLinkColour">EnumImagePixelFormat</a></li>
                <li lang="android"><a href="{{ site.enums }}core/image-source-state.html?lang=android"  class="otherLinkColour">EnumImageSourceState</a></li>
                <li lang="android"><a href="{{ site.enums }}core/image-tag-type.html?lang=android"  class="otherLinkColour">EnumImageTagType</a></li>
                <li lang="android"><a href="{{ site.enums }}core/intermediate-result-unit-type.html?lang=android"  class="otherLinkColour">EnumIntermediateResultUnitType</a></li>
                <!-- <li lang="android"><a href="{{ site.enums }}barcode-reader/localization-mode.html?lang=android"  class="otherLinkColour">EnumLocalizationMode</a></li> -->
                <!-- <li lang="android"><a href="{{ site.enums }}code-parser/mapping-status.html?lang=android"  class="otherLinkColour">EnumMappingStatus</a></li> -->
                <li lang="android"><a href="{{ site.enums }}core/pdf-reading-mode.html?lang=android"  class="otherLinkColour">EnumPDFReadingMode</a></li>
                <li lang="android"><a href="{{ site.enums }}capture-vision-router/preset-template.html?lang=android"  class="otherLinkColour">EnumPresetTemplate</a></li>
                <!-- <li lang="android"><a href="{{ site.enums }}barcode-reader/qr-code-error-correction-level.html?lang=android"  class="otherLinkColour">EnumQRCodeErrorCorrectionLevel</a></li> -->
                <li lang="android"><a href="{{ site.enums }}core/region-object-element-type.html?lang=android"  class="otherLinkColour">EnumRegionObjectElementType</a></li>
                <li lang="android"><a href="{{ site.enums }}core/section-type.html?lang=android"  class="otherLinkColour">EnumSectionType</a></li>
                <li lang="android"><a href="{{ site.enums }}core/target-type.html?lang=android"  class="otherLinkColour">EnumTargetType</a></li>
                <li lang="android"><a href="{{ site.enums }}code-parser/validation-status.html?lang=android"  class="otherLinkColour">EnumValiadtionStatus</a></li>
                <li lang="android"><a href="{{ site.enums }}core/video-frame-quality.html?lang=android"  class="otherLinkColour">EnumVideoFrameQuality</a></li>
                <li lang="android"><a href="{{ site.enums }}core/colour-channel-usage-type.html?lang=android"  class="otherLinkColour">EnumColourChannelUsageType</a></li>
            </ul>
        </li>
    </ul>
</li>
